body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
}

h1, h2 {
    font-family: 'Righteous', cursive;
}

.header {
    width: 100%;
    height: 92px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #cf2b2b;
    padding-left: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 4px rgba(0, 0 ,0, 0.25);
    z-index: 2;
}

.header h1 {
    color: #fff;
    font-size: 44px;
    margin-bottom: 5px;
}

.header p {
    color: #ffffff;
    font-size: 18px;
}

.container {
    margin-top: calc(92px + 40px);
    padding-left: 26px;
}

.items {
    margin-top: 40px;
    font-size: 26px;
}

ul {
    display: flex;
    margin-top: 20px;
    overflow-x: scroll;
}

li {
    background-color: #fff;
    margin: 0 8px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 16px;
    box-shadow: 0 0 10px -4px rgba(0, 0 ,0, 0.25);
    position: relative;

    width: calc(172px - 12px - 18px);
    height: calc(216px - 12px - 18px);
    padding: 9px;
    border: #fff 6px solid;
    box-sizing: content-box;
}

.chosen {
    border: #32B72F 6px solid;
}

.chosen ion-icon {
    display: block;
}

li:first-child {
    margin-left: 0px;
}

li img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

li ion-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #32B72F;
    font-size: 16px;
}

.items:last-child {
    margin-bottom: 110px;
}

.description {
    font-size: 15px;
    color: #a6a6a6;
}

.footer {
    background-color: #fff;
    height: 92px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0 ,0, 0.25);
}

.footer .on-hold {
    height: 61px;
    width: 88%;
    border-radius: 50px;
    background-color: #cbcbcb;
    border: none;
    color: #fff;
    font-size: 20px;
}

.footer .buying {
    height: 61px;
    width: 88%;
    border-radius: 50px;
    background-color: #32B72F;
    border: none;
    color: #fff;
    font-size: 20px;
}

.hidden {
    display: none;
}

.confirmation {
    background-color: #50D074;
    width: 377px;
    height: 353px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 100px;
    left: 100px;
    padding: 20px;
    z-index: 3;
    border-radius: 9px;
    box-shadow: 0 0 10px 1px rgba(0, 0 ,0, 0.25);
    display: none;
}

.confirmation .Items-Confirm {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.confirmed {
    background-color: #fff;
    color: #50D074;
    border-radius: 100px;
    width: 329px;
    height: 52px;
    border: #fff solid 0px;
}

.qtdItem {
    position: absolute;
    width: 48px;
    height: 19px;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
}


.verde {
    color: #50D074;
}

.vermelho {
    color: #cf2b2b;
}